/* CSS Document */

#box464 {
	width: 464px;
}

#cont1209 {
	width: 900px;
	margin-top: 5px;
}

#cont1209 a {
	display: block;
}

#cont1209 a:hover img {
	opacity: 0.8;
	filter:alpha(opacity=80); 
}


.bw_top {
	border-top: 1px solid #FFF;
}
