/* CSS Document */
li,ul,ol,br,a,img,h1,h2,h3,h4,h5,p,table,tr,th,td,input,form {
	margin: 0;
	padding: 0;
}

img {border: none;}
a {text-decoration: none;}
li {list-style: none;}
body {font-family: Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;}
.fs_10 {font-size: 10px;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.w900 {width: 900px;}
.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}

#wrapper {
	width: 900px;
	margin: 0 auto;
}


/***-------------------- Header --------------------***/

#header {
	height: 192px;
}

#header a:hover {
	opacity: 0.6;
}

#header #logo {
	height: 164px;
	margin-bottom: 3px;
}

#topmenu {
	border-radius: 7px;
	background: #c589ce;
	height: 25px;
	padding: 0 10px;
}

#search_area {
	width: 230px;
	height: 17px;
	padding-top: 4px;
}

#search_txtbox {
	width: 150px;
	margin-right: 2px;
	background: #ffe3e8;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border: none;

}

#search_btn {
	width: 78px;
	height: 17px;
}

#globalnavi {
	width: 630px;
}

#globalnavi li {
	padding-left: 30px;
}
#globalnavi li#globalnavi01 {
	width: 59px;
	padding-left: 0;
}



/***-------------------- Contents --------------------***/

#cont {
	margin-top: 10px;
}

#mainFrame {
	padding-top: 5px;
	width: 710px;
}


#mainFrame a:hover {
	opacity: 0.85;
}

#item1 {
	width: 710px;
	height: 270px;
}

#item1-1 {
	width: 350px;
	height: 210px;
}

#item1-2 {
	width: 350px;
	height: 210px;
}

#item2 {
	width: 350px;
	height: 336px;
}

#item3 {
	width: 350px;
	height: 336px;
}

#item4 {
	width: 350px;
	height: 160px;
}

#item5 {
	width: 302px;
	height: 160px;
	margin-left: 5px;
}

#item6 {
	width: 350px;
	height: 100px;
	margin-left: 5px;
}


/***-------------------- Ranking・Newitem --------------------***/
.itemtable {
	width: 708px;
	height: 255px;
	margin-top: 1px;
	border: 1px solid #d78db1;
}

.table02 td {
	border-top: 1px solid #dfdfdf;
}

.itemtable .imgBox {
	width: 120px;
	height: 88px;
}
.itemtable .imgBox a {
	width: 118px;
	height: 118px;
	display: block;
	border: 1px solid #e3d0d9;
	margin-top: 5px;
}
.itemtable .imgBox a img {
	width: 118px;
	height: 118px;
}

.itemtable .txtBox{
	width: 120px;
	height: 42px;
}
.itemtable .txtBox a {
	display: block;
	font-size: 12px;
	color: #825f88;
	margin: 3px 0;
	line-height: 13px;
	text-align: center;
	vertical-align: central;
}

.itemtable .txtBox a:hover {
	opacity: 1;
	color: #52bdd0;
}

#newitem .itemtable .txtBox a {
}

/*----------- Twitter Follow Me ----------*/
body {
	position: relative;
}
#lnk-twitter {
	position: fixed;
	right: 0;
	bottom: 100px;
	width: 30px;
	height: 120px;
	background: #3ca0f4;
}

/*----------- Twitter Follow Me ----------*/
.bnr-Rside {
	position: fixed;
	z-index: 1;
	right: 0;
	top: 115px;
	right: 10px;
	display: table;
	width: 160px;
	height: 160px;
	border: 1px solid #FFF;
	border-radius: 80px 80px 80px 5px;
	background: rgb(248,172,26);
	background: linear-gradient(130deg, rgba(248,172,26,1) 0%, rgba(234,66,220,1) 100%);
	opacity: 0.85;
	filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.5));
}
.bnr-Rside p {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size: 1.2em;
	font-weight: 600;
	color: #FFF;
}
.bnr-Rside a {
	color: #FFF;
}