/* CSS Document */

#itemImageSlider {
	margin-top: 688px; /* 商品ページのコンテンツを下にズラす */
}
 
.ctgTtl {
	margin-top: 688px; /* カテゴリーページのコンテンツを下にズラす */
}

.sphdr-parts {
	position: absolute;
	top: 150px;
	left: 0;
	display: block; 
 }
 
.itemtitle,.ctgTtl1,#campaignText,#itemFestival {
	display: none; /* 通常商品ページ＆定期購入ページの店名、カテゴリページの店名、商品変倍表示、楽天スーパーDEALの表示を非表示に */
}