@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Raleway:wght@400;500;600&display=swap');

html {
  font-size: 62.5%;
}

body {
    margin: unset;
    padding-top: 70px;
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    vertical-align: bottom;
    width: 100%;
}

h1, h2, h3 {
    margin: unset;
    font-weight: normal;
}

p {
    margin: unset;
}

a {
    text-decoration: unset;
    color: #000;
    display: block;
}

dl, dd {
    margin: unset;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: unset;
}

input[type="text"] {
  -webkit-appearance: unset;
  margin: unset;
}

input[type="submit"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
  border: unset;
  outline: unset;
  box-sizing: border-box;
  cursor: pointer;
  margin: unset;
  &::-webkit-search-decoration {
    display: none;
  }
  &::focus {
    outline-offset: -2px;
  }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #ececec;
    z-index: 999;
}

.header-logo {
    position: absolute;
    width: 100px;
    height: 70px;
    left: 50%;
    transform: translateX(-50%);
    &-svg {
        width: 100%;
        height: 100%;
    }
}

.award-banner {
    padding: 0 15px;
}

.attention {
    &-list {
      position: relative;
      padding: 85px 30px 40px;
      background-color: #f5f5f5;
      margin-top: 50px;
    }
    &-title {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
        height: 27px;
    }
    &-svg {
        height: 100%;
    }
    &-text {
        font-size: 1.2rem;
    }
}

.product-visual {
    margin-top: 50px;
}

.product {
    &-list {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 15px 0;
    }
    &-item {
        width: calc(100% / 2 - 7.5px);
        margin: 0 15px 20px 0;
        &:nth-child(2n) {
            margin-right: unset;
        }
    }
    &-link {
        padding: 25px 0;
        background-color: #f5f5f5;
        text-align: center;
        font-size: 1.4rem;
        margin: 0 15px;
    }
}

.news {
    &-list {
        margin-top: 50px;
    }
    &-item {
      padding: 25px 0;
      background-color: #f5f5f5;
      display: block;
      text-align: center;
      font-size: 1.4rem;
    }
}

.contents {
    &-title {
        text-align: center;
        margin: 50px auto 30px;
        &-form-general {
            margin: 15px auto 30px;
        }
        &-footer {
            margin: auto auto 30px;
        }
    }
    &-headline {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        margin-bottom: 1px;
    }
    &-addition {
        font-size: 1.2rem;
    }
}

.form {
    &-general {
        display: flex;
        justify-content: center;
        margin-bottom: 80px;
        &-text {
            outline: unset;
            border: 1px solid #ebebeb;
            border-radius: 5px 0 0 5px;
            width: 55%;
            padding-left: 15px;
            box-sizing: border-box;
            font-size: 1.2rem;
            &::placeholder {
              color: #cecece;
            }
        }
        &-submit {
            padding: 12px 15px;
            border: unset;
            font-size: 1.2rem;
            border-radius: 0 5px 5px 0;
            background-color: #ebebeb;
            color: #000;
        }
    }
}

.mail-banner {
    margin-top: 50px;
}

.footer {
    padding: 50px 15px;
    background-color: #f5f5f5;
    margin-top: 50px;
}

.information {
    &-link {
        padding: 25px 0;
        background-color: #000;
        color: #fff;
        font-size: 1.2rem;
        text-align: center;
    }
    &-wrap {
        margin: 15px auto 30px;
    }
    &-menu {
        border-bottom: 1px solid #ececec;
    }
    &-title {
        position: relative;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 10px 0;
        transition: .5s;
        &::before, &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            width: 8px;
            height: 1px;
            background-color: #c3c3c3;
            transition: .5s;
        }
        &::before {
            transform: rotate(0);
        }
        &::after {
            transform: rotate(90deg);
        }
        &.active {
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(135deg);
            }
        }
    }
    &-text {
        padding-bottom: 15px;
        display: none;
    }
}

.payment-img {
    max-width: 306px;
    margin-top: 10px;
}

.postage-table {
    display: block;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-top: 10px;
    th, td {
        min-width: 80px;
        padding: 5px 0;
        border: 1px solid #ececec;
        text-align: center;
        border-collapse: collapse;
    }
}

.copyright {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: unset;
    left: unset;
    width: unset;
}

.swiper-pagination {
    position: unset;
    margin: 20px;
}

.swiper-pagination-bullet {
    background-color: #cfcfcf;
    width: 8px !important;
    height: 8px !important;
    margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
    background-color: #dcdcdc;
}

.swiper-container {
    overflow-x: hidden;
}





/* RWD - SP */
@media (max-width: 599px) {
    .attention-br {
        display: none;
    }
}





/* RWD - PC */
@media (min-width: 1200px) {
    .swiper-pagination-bullet {
        width: 8px !important;
        height: 8px !important;
        margin: 0 7px !important
    }

    .swiper-pagination {
        margin: 30px auto 55px;
    }

    .form {
        &-general {
            max-width: 1000px;
            margin: auto auto 130px;
        }
    }

    .award-banner {
        padding: unset;
        max-width: 1000px;
        margin: auto;
    }

    .product-visual {
        max-width: 1000px;
        margin: 100px auto 25px;
    }

    .attention {
        &-list {
            max-width: 1000px;
            margin: 100px auto 0;
            padding: 105px 30px 50px;
            box-sizing: border-box;
        }
        &-title {
            top: 50px;
            height: 33px;
        }
        &-text {
            font-size: 1.4rem;
            text-align: center;
        }
    }

    .product {
        &-list {
            max-width: 1000px;
            margin: auto;
            padding: unset;
        }
        &-item {
            width: calc(100% / 4 - 18.75px);
            margin: 0 25px 25px 0;
            &:nth-child(2n) {
                margin-right: 25px;
            }
            &:nth-child(4n) {
                margin-right: unset;
            }
        }
        &-link {
            max-width: 400px;
            margin: auto;
        }
    }

    .news {
        &-list {
            max-width: 1000px;
            margin: 100px auto 0;
        }
        &-item {
        }
    }

    .contents {
        &-title {
            margin: 100px auto 30px;
            &-form-general {
                margin: 0 auto 30px;
            }
            &-footer {
                margin: auto auto 30px;
            }
        }
    }

    .mail-banner {
        max-width: 1000px;
        margin: 100px auto 0;
    }

    .footer {
        padding: 100px 0;
        margin-top: 100px;
    }

    .information {
        &-link {
            max-width: 400px;
            margin: auto;
        }
        &-wrap {
            display: flex;
            justify-content: space-between;
            max-width: 1000px;
            margin: 30px auto 50px;
        }
        &-left, &-right {
            width: calc(50% - 25px);
        }
        &-menu {
            border-bottom: unset;
            margin-top: 20px;
        }
        &-title {
            font-size: 1.6rem;
            &::before, &::after {
                display: none;
            }
        }
        &-text {
            font-size: 1.2rem;
            display: unset;
        }
    }

}
