@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Noto+Serif+JP&display=swap');

.main {
    font-family: 'Noto Serif JP', serif;
}

.porte-headline {
    margin: 0 30px;
    &-title {
        font-family: 'Libre Baskerville', serif;
        font-size: 2.2rem;
        margin-bottom: 15px;
        &-jpn {
            font-family: 'Noto Serif JP', serif;
        }
    }
    &-text {
        font-size: 1.4rem;
        br {
            display: none;
        }
    }
}

.porte-visual {
    background-image: url('../img/porte/main-visual.jpg');
    background-size: cover;
    background-position: top 15% center;
    width: 100%;
    min-height: 500px;
    position: relative;
    margin-bottom: 100px;
    &-title {
        position: absolute;
        top: 30%;
        left: 68%;
        transform: translate(-50%, -50%);
    }
    &-svg {
        fill: #fff;
        display: block;
        max-width: 120px;
        &-main {
            max-height: 30px;
            margin-bottom: 8px;
        }
        &-sub {
            max-height: 12px;
        }
    }
}

.porte-description {
    margin-bottom: 100px;
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0 15px;
    }
    &-item {
        opacity: 0;
        width: calc(50% - 7.5px);
        &:last-child {
            margin-top: 60px;
        }
    }
    &-sentence {
        margin: -35px 30px 0;
    }
    &-title {
        font-family: 'Libre Baskerville', serif;
        font-size: 2.2rem;
        margin-bottom: 20px;
    }
    &-text {
        font-size: 1.4rem;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: unset;
        }
        br {
            display: none;
        }
    }
}

.porte-points {
    &-wrap {
        background-color: #f5f5f5;
        padding: 100px 0;
    }
    &-list {
        display: flex;
        overflow-x: auto;
        padding: 0 7.5px;
        margin-top: 50px;
        -webkit-overflow-scrolling: touch;
        overflow-scrolling: touch;
    }
    &-item {
        opacity: 0;
        width: 80%;
        flex-shrink: 0;
        margin: 0 7.5px;
        &:last-child {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 100%;
                width: 15px;
                height: 1px;
            }
        }
    }
    &-img {
        position: relative;
    }
    &-tag {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        padding: 10px 0;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'Libre Baskerville', serif;
        background-color: #000;
        color: #fff;
        width: 50%;
    }
    &-sentence {
        padding: 30px;
        box-sizing: border-box;
        min-height: 200px;
        background-color: #fff;
    }
    &-title {
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: 15px;
    }
    &-text {
        font-size: 1.3rem;
    }
}

.porte-series {
    margin-top: 100px;
    &-list {
        &-wrap {
            display: none;
        }
    }
    &-item {
        opacity: 0;
        margin-top: 100px;
        &:nth-child(2n) {
            padding: 80px 0;
            background-color: #f5f5f5;
            .porte-series-link {
                background-color: #fff;
            }
        }
    }
    &-product {
        max-width: 110px;
        display: block;
        margin: auto;
    }
    &-color {
        &-list {
            display: flex;
            overflow-x: auto;
            margin: 30px 15px;
        }
        &-item {
            max-width: 45px;
            margin-right: 12px;
            &:last-child {
                margin-right: unset;
            }
        }
    }
    &-sentence {
        padding: 0 30px;
    }
    &-title {
        font-size: 2.5rem;
        font-family: 'Libre Baskerville', serif;
        &-version {
            font-family: 'Noto Serif JP', serif;
        }
        &-sub {
            font-size: 1.4rem;
            margin-left: 5px;
        }
    }
    &-text {
        font-size: 1.2rem;
        margin: 10px 0 20px;
        br {
            display: none;
        }
    }
    &-price {
        font-size: 1.6rem;
        &-tax {
            font-size: 1rem;
        }
    }
    &-model {
        margin: 20px 0 30px;
        &-title {
            font-size: 1.2rem;
            margin-bottom: 7px;
        }
    }
    &-link {
        font-size: 1.4rem;
        text-align: center;
        padding: 15px 0;
        background-color: #f5f5f5;
    }
    &-accordion {
        opacity: 0;
        &-wrap {
            margin-top: 100px;
        }
        &-toggle {
            position: relative;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            background-color: #f5f5f5;
            margin: auto;
            &::before, &::after {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
                width: 13px;
                height: 1px;
                background-color: #000;
                transition: .5s;
            }
            &::before {
                transform: rotate(0);
            }
            &::after {
                transform: rotate(90deg);
            }
            &.active {
                &::before {
                    transform: rotate(45deg);
                }
                &::after {
                    transform: rotate(135deg);
                }
            }
        }
        &-title {
            text-align: center;
            font-size: 1.4rem;
            margin-top: 15px;
        }
    }
}

.porte-ensemble {
    margin-top: 100px;
    &-visual {
        margin: 30px 0;
    }
    &-img {
        opacity: 0;
    }
    &-sentence {
        padding: 0 30px;
    }
    &-title {
        font-size: 2.2rem;
        margin-bottom: 30px;
    }
    &-text {
        font-size: 1.4rem;
        margin-bottom: 20px;
    }
}

.porte-instagram {
    margin-top: 100px;
    &-list {
        padding: unset;
        margin: 30px 0 0;
    }
    &-box {
        margin: 0 7.5px;
    }
    &-qr {
        text-align: center;
        &-box {
            opacity: 0;
        }
        &-img {
            max-width: 67px;
        }
        &-link {
            margin: 30px 30px 0;
            background-color: #f5f5f5;
            padding: 15px 0;
            font-size: 1.4rem;
        }
    }
}

.porte-life {
    margin-top: 100px;
    &-list {
        display: flex;
        overflow-x: auto;
        padding: 0 7.5px;
        margin-top: 30px;
    }
    &-item {
        opacity: 0;
        margin: 0 7.5px;
        &:last-child {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 100%;
                width: 15px;
                height: 1px;
            }
        }
    }
}

.slick-slide {
  outline: none;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding: unset;
  margin: 30px 0 50px;
  li {
    position: relative;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-radius: 50px;
    &.slick-active {
      background-color: #e5e5e5;
    }
  }
  button {
    display: none;
  }
}

/* Animation : Fade up */
.fadeUp {
    animation-name:fadeUpAnime;
    animation-duration:0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes fadeUpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation : Slide in */
.slide-in {
    overflow: hidden;
    display: inline-block;
}

// .slide-in_inner {
//     display: inline-block;
// }

/* 左右のアニメーション */
.leftAnime{
    opacity: 0; /*事前に透過0にして消しておく*/
}

.slideAnimeLeftRight {
    animation-name:slideTextX100;
    animation-duration: 1.2s;
    animation-fill-mode:forwards;
    opacity: 0;
}

@keyframes slideTextX100 {
  from {
  transform: translateX(-100%); /*要素を左の枠外に移動*/
        opacity: 0;
  }

  to {
  transform: translateX(0);/*要素を元の位置に移動*/
    opacity: 1;
  }
}

.slideAnimeRightLeft {
    animation-name: slideTextX-100;
    animation-duration: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideTextX-100 {
    from {
        transform: translateX(100%); /*要素を右の枠外に移動*/
        opacity: 0;
    }

    to {
        transform: translateX(0); /*要素を元の位置に移動*/
        opacity: 1;
    }
}

/* RWD - SP */
@media (max-width: 599px) {
}


/* RWD - PC */
@media (min-width: 1200px) {

    .porte-headline {
        margin: unset;
        &-title {
            font-size: 4rem;
            margin-bottom: 15px;
        }
        &-text {
            font-size: 1.8rem;
            br {
                display: block;
            }
        }
    }

    .porte-visual {
        min-height: 750px;
        margin-bottom: 150px;
        &-title {
            top: 50%;
            left: 60%;
        }
        &-svg {
            max-width: 230px;
            &-main {
                max-height: 40px;
                margin-bottom: 15px;
            }
            &-sub {
                max-height: 18px;
            }
        }
    }

    .porte-description {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto 150px;
        &-list, &-sentence {
            width: calc(50% - 25px);
        }
        &-list {
            padding: unset;
        }
        &-item {
            width: calc(50% - 17.5px);
        }
        &-sentence {
            margin: unset;
        }
        &-title {
            font-size: 4rem;
        }
        &-text {
            font-size: 1.8rem;
            br {
                display: block;
            }
        }
    }

    .porte-points {
        max-width: 1200px;
        margin: auto;
        &-wrap {
            padding: 150px 0;
            margin-bottom: 150px;
        }
        &-list {
            flex-wrap: wrap;
            justify-content: space-between;
            padding: unset;
            overflow-x: unset;
        }
        &-item {
            width: calc(100% / 3 - 33.33px);
            margin: 0 0 50px;
            &:nth-last-child(-n + 3) {
                margin-bottom: unset;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
        &-title {
            font-size: 3rem;
        }
        &-text {
            font-size: 1.4rem;
        }
    }

    .porte-series {
        max-width: 1200px;
        margin: auto;
        &-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            &-wrap {
                display: block;
            }
        }
        &-item {
            position: relative;
            padding-bottom: 65px !important;
            width: calc(50% - 25px);
            &:nth-child(2n) {
                padding: unset;
                background-color: unset;
                .porte-series-link {
                    background-color: #f5f5f5;
                }
            }
        }
        &-product {
            display: unset;
        }
        &-color {
            &-list {
                margin: 35px 0;
            }
        }
        &-sentence {
            padding: unset;
        }
        &-title {
            font-size: 3rem;
        }
        &-text {
            br {
                display: block;
            }
        }
        &-link {
            position: absolute;
            bottom: 0;
            padding: 20px 30px;
            text-align: unset;
            width: 70%;
        }
        &-accordion {
            &-wrap {
                display: none;
            }
        }
    }

    .porte-ensemble {
        max-width: 1200px;
        margin: 150px auto 0;
        &-visual {
            margin: 50px 0;
        }
        &-sentence {
            padding: unset;
        }
        &-title {
            font-size: 3rem;
        }
        &-text {
            font-size: 1.8rem;
        }
    }

    .porte-instagram {
        &-headline {
            &-wrap {
                max-width: 1200px;
                margin: auto;
            }
        }
        &-list {
            margin-top: 50px;
        }
        &-box {
            margin: 0 15px;
        }
        &-qr {
            &-link {
                margin: 30px auto 0;
                max-width: 300px;
            }
        }
    }

    .porte-life {
        max-width: 1200px;
        margin: 150px auto 0;
        &-list {
            overflow-x : unset;
            padding: unset;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 50px;
        }
        &-item {
            margin: 0 0 50px 0;
            max-width: 263px;
            &:nth-last-child(-n + 4) {
                margin-bottom: unset;
            }
            &:last-child {
                &::before {
                    display: none;
                }
            }
        }
    }
}
